<footer class="we-Footer width-full">
   <div class="container">

       <div class="row">
           <div class="row we-Footer-section we-Footer-section--sub">
               <div class="we-Footer-section-item">
                   <div class="we-Logo we-Logo--big">
                       We.<strong>Train</strong>
                   </div>
                   <div class="we-Footer-nav">
                       <h2>Footer Toolbar</h2>
                   </div>
               </div>
           </div>

           <div class="row we-Footer-section we-Footer-section--sub">
               <div class="we-Footer-section-item">
                   <span class="text-uppercase text-muted">${"&copy; {0} We.Train All Rights Reserved." @ i18n, format='2018', context='html'}</span>
               </div>
               <div class="we-Footer-section-item">
                   <a href="#" class="text-uppercase text-muted">Terms of use &amp; privacy policy</a>
               </div>
           </div>

           <div class="row">
               <div class="col-md-12">
                   <div class="text-center">
                       <!--/*this will move the pointer to the top of the page*/-->
                       <a href="#top" class="btn btn-primary">Back to the top</a>
                   </div>
               </div>
           </div>
       </div>
        <sly data-sly-include="customfooterlibs.html"/>
   </div>
</footer>